.tab {
  @media (max-width: $width-laptop) {
    &--closed {
      .tab__content {
        display: none;
      }

      .tab__button {
        &::after {
          background-image: url("../img/plus.svg");
          height: 16px;
        }
      }
    }

    &--opened {
      .tab__content {
        display: block;
      }

      .tab__button {
        &::after {
          background-image: url("../img/minus.svg");
          top: 51%;
        }
      }
    }
  }
}

.tab__button {
  display: none;

  @media (max-width: $width-laptop) {
    display: block;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
    width: 100%;
    padding: 10% 14% 8% 6%;
    box-sizing: border-box;
    text-align: left;
    outline: none;

    @include text-sets(15px, 16px);
    text-transform: uppercase;

    &::after {
      content: "";
      width: 16px;
      height: 6px;
      position: absolute;
      background-repeat: no-repeat;
      right: 17px;
    }

    &:hover,
    &:focus {
      opacity: 0.7;

      &::after {
        opacity: 0.7;
      }
    }

    &:active {
      opacity: 0.3;

      &::after {
        opacity: 0.3;
      }
    }
  }
}

.tab__content {
  display: block;
}
