@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/roboto-condensed-regular.woff2"), url("../fonts/roboto-condensed-regular.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/roboto-condensed-700.woff2"), url("../fonts/roboto-condensed-700.woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Mono";
  src: url("../fonts/pt-mono-regular.woff2"), url("../fonts/pt-mono-regular.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
