@font-face {
  font-family: "Open Sans";
  src: url("../../../public/fonts/open-sans-regular.woff2"), url("../../../public/fonts/open-sans-regular.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../../public/fonts/open-sans-700.woff2"), url("../../../public/fonts/open-sans-700.woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

